/.vscode/
/benchmark/
/coverage/
/out/
/scripts/
/src/
/test-cases/
/typings/
/.npmignore
/azure-pipelines.yml
/build-template.yml
/npm-debug.log
/ThirdPartyNotices.txt
/tsconfig.json
/tslint.json
/webpack.config.js
